/*
 Black: #06080A;
 White: #F9FEFF;
 Grey: #3A4B5C;
*/
@font-face {
  font-family: 'icomoon';
  src: url("../icons/icomoon.eot");
  src: url("../icons/icomoon.eot#iefix") format("embedded-opentype"), url("../icons/icomoon.woff") format("woff"), url("../icons/icomoon.ttf") format("truetype"), url("../icons/icomoon.svg#icomoon") format("svg"); }


/*General Styles*/
html,
body {
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
	background-color: #F9FEFF;
	color: #3A4B5C;
}

h1, h2, h3, h4, h5,
.nav,
.btn-contact {
	font-family: 'Oswald', Impact, Tahoma, sans-serif;
	color: #06080A;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/*Center align*/
.heading,
.footer,
.contact {
	text-align: center;
}

.heading {
	margin-bottom: 3rem;
}

/*Header*/
.header {
	border-bottom: 1px solid #3A4B5C;
	box-shadow: 0px 0px 1px 1px rgba(58, 75, 92, .5);
	position: fixed;
	top: 0;
	background-color: #F9FEFF;
	width: 100%;
	z-index: 10000;
}

.header-name {
	margin: .35em 0;
	margin-left: 5rem;
}

.nav {
	margin-right: 5rem;
}

.header-name,
.nav,
ul li {
	display: inline-block;
}

.nav {
	float: right;
	margin-top: .25rem;
}

.nav ul li {
	padding: 5px 10px;
}

.nav a {
	color: #336699;
}

.nav a:visited {
	color: #336699;
}

.nav a:hover {
	color: #06080A;
}

/*About*/
.about {
	margin-top: 5.5rem;
}

.about-wrapper {
	width: 55%;
	margin: auto;
}

/*Projects*/
.projects ul li {
	margin: -3px -2px;
}

.info {
	opacity: .85;
	background-color: #06080A;
	color: #F9FEFF;
	width: 500px;
	position: absolute;
	text-align: center;
	padding-top: 112px;
	padding-bottom: 110px;
}

.info a:visited {
	color: #F9FEFF;
}

/*Contact*/
.contact {
	padding: 4rem;
}

.btn-contact {
	background-color: #336699;
	color: #F9FEFF;
	font-weight: bold;
	font-size: 1.25rem;
	padding: 10px 20px;
	border: none;
}

.btn-contact:hover {
	background-color: #3A4B5C;
}

/*Lightbox*/
.lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(6,8,10,.7);
	z-index: 20000;
}

/*Modal*/
.modal {
	background-color: #F9FEFF;
	border-radius: 2px;
	border: 1px solid #06080A;
	width: 30%;
	padding: 3rem;
	padding-bottom: 4rem;
	position: fixed;
	top: 10rem;
	left: 31.5%;
}

.modal form input,
.modal form button,
.modal form textarea {
	display: block;
}

.modal form input,
.modal form textarea {
	width: 100%;
	border: 1px solid #3A4B5C;
	border-radius: 2px;
	padding: 4px;
}

.modal form input {
	margin-bottom: .85rem;
}

.modal form textarea {
	height: 5rem;
}

.modal form button.btn-contact {
	margin-top: 1.25rem;
	float: right;
}

.btn-close-modal {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #A64E48;
	color: #FFFFFF;
	font-weight: bold;
	border: none;
	padding: 2px 7px;
	font-family: 'Oswald', Impact, Tahoma, sans-serif;
}

.btn-close-modal:hover {
	background-color: #66302C;
}

/*Footer*/
.footer {
	background-color: #06080A;
	padding-top: 2.5rem;
	padding-bottom: 1.5rem;
}

.copyright {
	font-size: .85rem;
}

.social-media {
	font-family: 'icomoon';
	font-size: 1.25rem;
	padding: 0;
}

.social-media li {
	margin: 0 -2px;
}

.social-media a {
	padding: 5px;
	color: #3A4B5C;
}

.social-media a:visited {
	color: #3A4B5C;
}

.social-media a:hover {
	color: #F9FEFF;
}

.social-facebook::before {
	content: "\e600";
}

.social-twitter::before {
	content: "\e602";
}

.social-github::before {
	content: "\e603";
}