/*
 Colors:
 
 Black: #06080A;
 White: #F9FEFF;
 Grey: #3A4B5C;
 Red: #A64E48;
 Darkred: #66302C;
*/


@font-face {
  font-family: 'icomoon';
  src: url("../icons/icomoon.eot");
  src: url("../icons/icomoon.eot#iefix") format("embedded-opentype"), url("../icons/icomoon.woff") format("woff"), url("../icons/icomoon.ttf") format("truetype"), url("../icons/icomoon.svg#icomoon") format("svg"); }


/*General Styles*/
html,
body {
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
	background-color: #F9FEFF;
	color: #3A4B5C;
}

h1, h2, h3, h4, h5,
.nav,
.btn-contact {
	font-family: 'Oswald', Impact, Tahoma, sans-serif;
	color: #06080A;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/*Center align*/
.heading,
.footer,
.contact,
.masthead {
	text-align: center;
}

.heading {
	margin-bottom: 3rem;
}

/*Navbar*/
.navbar {
	border-bottom: 1px solid #3A4B5C;
	box-shadow: 0px 0px 1px 1px rgba(58, 75, 92, .5);
	position: fixed;
	top: 0;
	background-color: #F9FEFF;
	width: 100%;
	z-index: 10000;
}

.navbar-name {
	margin: .35em 0;
	margin-left: 5rem;
}

.nav {
	margin-right: 5rem;
}

.navbar-name,
.nav,
ul li {
	display: inline-block;
}

.nav {
	float: right;
	margin-top: .25rem;
}

.nav ul li {
	padding: 5px 10px;
}

.nav a {
	color: #336699;
}

.nav a:visited {
	color: #336699;
}

.nav a:hover {
	color: #06080A;
}

/*Masthead*/
.masthead {
	background: url('../img/background-mountain-trim.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 800px;
}

.masthead-title {
	font-size: 5rem;
	text-shadow: 0px 4px #336699;
	padding-top: 350px;
	margin: 0;
}

.masthead-subtitle,
.masthead-title {
	color: #F9FEFF;
}

#scroll-arrow {
	outline: 0;
}

#scroll-arrow::before {
	font-family: "icomoon";
	content: "\e604";
	color: #F9FEFF;
	font-size: 2rem;
}

/*About*/
.about {
	margin: 5.5rem;
}

.about-wrapper {
	width: 45%;
	margin: auto;
}

/*Projects*/
.projects {
	padding-bottom: 4rem;
}

.projects ul li {
	margin: -3px -2px;
}

.info {
	opacity: .85;
	background-color: #06080A;
	color: #F9FEFF;
	width: 500px;
	position: absolute;
	text-align: center;
	padding-top: 112px;
	padding-bottom: 110px;
}

.info a:visited {
	color: #F9FEFF;
}

/*Contact*/
.contact {
	padding-bottom: 4rem;
}

.btn-contact {
	background-color: #336699;
	color: #F9FEFF;
	font-weight: bold;
	font-size: 1.25rem;
	padding: 10px 20px;
	border: none;
}

.btn-contact:hover {
	background-color: #3A4B5C;
}

.icon-quill::after {
	font-family: 'icomoon';
	content: "\e601";
	font-size: 1.25rem;
	padding-left: .5rem;
}

/*Lightbox*/
.lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(6,8,10,.7);
	z-index: 20000;
}

/*Modal*/
.modal {
	background-color: #F9FEFF;
	border-radius: 2px;
	border: 1px solid #06080A;
	width: 30%;
	padding: 3rem;
	padding-bottom: 4rem;
	position: fixed;
	top: 10rem;
	left: 31.5%;
}

.modal form input,
.modal form button,
.modal form textarea {
	display: block;
}

.modal form input,
.modal form textarea {
	width: 100%;
	border: 1px solid #3A4B5C;
	border-radius: 2px;
	padding: 4px;
}

.modal form input {
	margin-bottom: .85rem;
}

.modal form textarea {
	height: 5rem;
}

.modal form button.btn-contact {
	margin-top: 1.25rem;
	float: right;
}

.btn-close-modal {
	position: absolute;
	top: 0px;
	right: 0px;
	color: #A64E48;
	background-color: rgba(249, 254, 255, 0);
	font-size: 1.85rem;
	border: none;
}

.btn-close-modal:hover {
	color: #66302C;
}

.btn-close-modal:focus {
	color: #66302C;
	outline: none;
}

.btn-close-modal::before {
	font-family: 'icomoon';
	content: "\e605";
	margin-right: -4px;
}

/*Footer*/
.footer {
	background-color: #06080A;
	padding-top: 2.5rem;
	padding-bottom: 1.5rem;
}

.copyright {
	font-size: .85rem;
}

.social-media {
	font-family: 'icomoon';
	font-size: 1.25rem;
	padding: 0;
}

.social-media li {
	margin: 0 -2px;
}

.social-media a {
	padding: 5px;
	color: #3A4B5C;
}

.social-media a:visited {
	color: #3A4B5C;
}

.social-media a:hover {
	color: #F9FEFF;
}

.social-facebook::before {
	content: "\e600";
}

.social-twitter::before {
	content: "\e602";
}

.social-github::before {
	content: "\e603";
}